// Define Colors
$white: #fff;
$black: #333;
$grey: #ccc;
$blue: #1c3661;
$red: #a92944;
$green: #288619;
$yellow: #FFEB3B;
$orange: #dd7107;
$purple: #7B1FA2;
$gold: #c8aa05;
$pink: #bb0d6b;

// Var Color
$var-colors: (
    'white': $white,
    'black': $black,
    'grey': $grey,
    'blue': $blue,
    'red': $red,
    'green': $green,
    'yellow': $yellow,
    'orange': $orange,
    'purple': $purple,
    'gold': $gold,
    'pink': $pink
);

// Colors Config Form
$base-color: $black;
$error: $red;
$warning: $orange;
$validate: $green;
$focus: $blue;