// Define Wrapper/Containers
$wrapper: $laptop;

// Define Gutter
$gutter: 2rem;

// Define Column Grid
$nb-column-desktop: 12;
$nb-column-laptop: 12;
$nb-column-tablet: 6;
$nb-column-mobile: 3;
$ie: .01px;

// Define z-index
$zi-basic: 1;
$zi-header: $zi-basic + 1;
$zi-nav: $zi-header + 1;
$zi-menu: $zi-nav + 1;
