$margin-position: ('top': 't', 'right': 'r', 'bottom': 'b', 'left': 'l');
@for $i from 1 through 10 {
    .m-#{$i} {
        margin: #{$i}rem;
    }
    @each $position, $class in $margin-position {
        .m#{$class}-#{$i} {
            margin-#{$position}: #{$i}rem;
        }
    }
}

$padding-position: ('top': 't', 'right': 'r', 'bottom': 'b', 'left': 'l');
@for $i from 1 through 10 {
    .p-#{$i} {
        padding: #{$i}rem;
    }
    @each $position, $class in $padding-position {
        .p#{$class}-#{$i} {
            padding-#{$position}: #{$i}rem;
        }
    }
}

$var-positions: center, right, left;
@each $position in $var-positions {
    .txt-#{$position} {
        text-align: $position;
    }
}