// Define Wrapper/Containers
$wrapper: $laptop !default;

// Define Gutter
$gutter            : 2rem !default;
$gutter-sm         : $gutter / 2 !default;
$gutter-xl         : $gutter * 2 !default;

// Define Column Grid
$nb-column-desktop : 12 !default;
$nb-column-laptop  : 12 !default;
$nb-column-tablet  : 6 !default;
$nb-column-mobile  : 3 !default;
$ie                : .01px;
