/* TAG PRE */
pre {
    @extend %content-space--xl;
    padding: $gutter;
    font-family: monospace;
    background-color: $white;
    border: 1px solid $grey;
    position: relative;
    &::before {
        content: attr(data-value);
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem $space-content;
        @include bgc($grey_light2);
    }
}