%content-space {
    margin: $space-content 0 0 0;
    &:first-child {
        margin-top: 0;
    }
}
%content-space--xl {
    margin: $space-content--xl 0 0 0;
    &:first-child {
        margin-top: 0;
    }
}
%margin-title {
    margin-top: $gutter;
    margin-bottom: $space-content;
    &:first-child {
        margin-top: 0;
    }
}
%clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}