@if ($badge-component) {
    /* BADGE */
    .badge {
        display: inline-block;
        cursor: pointer;
        padding: .5rem 2rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        @include bgc($grey_light2);
        &.radius {
            border-radius: 5rem;
        }
    }
}