@if ($breadcrumbs-component) {
    /* BREADCRUMBS */
    .breadcrumbs {
        padding: $space-content;
        @include bgc($blue_dark4);
        font-size: 1.3rem;
        a {
            color: $grey;
            text-transform: uppercase;
        }
        i {
            margin: 0 $space-content;
        }
    }
}