@if ($nav-component) {
    /**
     * --------------------------------------------
     * SUMMARY
     * --------------------------------------------
     *      TAG NAV - DEFAULT
     *      NAV CENTER
     *      NAV LEFT
     * --------------------------------------------
     */

    /* TAG NAV - DEFAULT */
    nav {
        border-bottom: 1px solid $grey;
        display: flex;
        justify-content: flex-end;
        background-color: $body-bgc;
        > ul {
            display: flex;
            align-items: center;
            > li {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                }
                i {
                    margin-left: .5rem;
                }
                &:not(.selected):hover {
                    &::before {
                        background-color: $grey;
                    }
                }
                &.selected {
                    &::before {
                        background-color: $secondary-color;
                    }
                    a {
                        color: $secondary-color;
                    }
                }
                a {
                    color: $primary-color;
                    padding: $gutter;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    display: block;
                    text-align: right;
                }
                ul {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    border: 1px solid $grey;
                    flex-direction: column;
                    width: 30rem;
                    align-items: flex-end;
                    background-color: $white;
                    z-index: $zi-nav;
                    li {
                        + li {
                            border-top: 1px solid $grey;
                        }
                    }
                    a:hover {
                        @include bgc($grey_light2);
                    }
                }
                &:hover {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }

    /* NAV CENTER */
    .nav--center {
        justify-content: center;
        > ul > li {
            a {
                text-align: center;
            }
            ul {
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    /* NAV LEFT */
    .nav--left {
        justify-content: flex-start;
        > ul > li {
            a {
                text-align: left;
            }
            ul {
                right: auto;
                left: 0;
            }
        }
    }
}