@if ($progressbar-component) {
    /* PROGRESS BAR CLASS */
    .progress-bar {
        width: 100%;
        background-color: $grey;
        span {
            height: 3px;
            display: block;
            width: 30%;
            background-color: $secondary-color;
        }
    }
}