form {
    max-width: $wrapper;
    margin: 0 auto;
    padding: $gutter;
    fieldset {
        padding: 0;
        border: none;
        margin-top: $gutter;
    }
    label {
        position: relative;
        display: block;
        width: 100%;
    }
    select,
    input,
    textarea {
        width: 100%;
        padding: 1rem;
        border: 1px solid $grey;
        border-radius: 3px;
        font-size: $base-fs;
        background: $white;
        margin-top: 1rem;
        &:focus {
            outline-style: none;
        }
    }
    input[type='number'] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
    }
    input[type='submit'] {
        border: none;
    }
    input:-webkit-autofill {
        box-shadow: 0 0 0 50px #fff inset;
    }
    textarea {
        resize: vertical;
        min-height: 20rem;
    }
    [class*='error'] {
        font-size: 1.3rem;
        color: $error;
    }
}