.popin {
    position: fixed;
    bottom: -100%;
    right: 2rem;
    transition: all .5s ease-in-out 0s;
    background-color: $white;
    box-shadow: 0 0 5px 0 $grey;
    &.open {
        bottom: 10rem;
    }
    &-head {
        position: relative;
        padding: $gutter;
        background-color: darken($primary-color, 20%);
        color: $white;
        box-shadow: none;
        p {
            text-transform: uppercase;
            font-family: $head-ff;
        }
    }
    .close {
        position: absolute;
        top: 50%;
        right: $gutter;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &-content {
        padding: $gutter;
    }
}
