h1, h2, h3, h4, h5, h6 {
    font-family: $head-ff;
}
h1, h2 {
    @extend %margin-title;
}
h3, h4, h5, h6 {
    @extend %margin-subtitle;
}
h1 { font-size: $h1-size; }
h2 {
    font-size: $h2-size;
    + h3 {
        margin-top: 0;
    }
}
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }
@media (max-width: $tablet) {
    h1 { font-size: $h1-size-mobile; }
    h2 { font-size: $h2-size-mobile; }
    h3 { font-size: $h3-size-mobile; }
    h4 { font-size: $h4-size-mobile; }
    h5 { font-size: $h5-size-mobile; }
    h6 { font-size: $h6-size-mobile; }
}
