// Colors Config Theme
$primary-color   : $blue !default;
$secondary-color : $darkpink !default;
$third-color     : $salmon !default;

$var-color-theme: (
    'primary'   : $primary-color,
    'secondary' : $secondary-color,
    'third'     : $third-color
) !default;