$nav-component         : true !default;
$badge-component       : true !default;
$breadcrumbs-component : true !default;
$btn-component         : true !default;
$card-component        : true !default;
$icon-component        : true !default;
$pagination-component  : true !default;
$parallax-component    : true !default;
$popin-component       : true !default;
$progressbar-component : true !default;
$sticky-component      : true !default;
$switch-component      : true !default;
$tabs-component        : true !default;