* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    color: $base-color;
}
body {
    font-size: $base-fs;
    font-family: $base-ff;
    line-height: $base-lh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    @extend %clearfix;
    @media (max-width: $tablet) {
        font-size: $base-fs-mobile;
    }
}
a,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
button {
    padding: 0;
    border: 0;
}
p,
ul,
ol,
fieldset {
    @extend %margin-element;
}
li a,
p a {
    color: $third-color;
    &:hover {
        text-decoration: underline;
    }
}
strong {
    font-family: $bold-base-ff;
}
ul,
ol {
    padding: 0 0 0 1rem;
    list-style: none;
    list-style-image: none;
    li {
        position: relative;
        padding-left: 1rem;
    }
    ul,
    ol {
        margin-top: .5rem;
    }
}
ul li::before {
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: .8rem;
    left: 0;
    background-color: $third-color;
    border-radius: 50%;
}
ol {
    counter-reset: puces;
    > li {
        counter-increment: puces;
        &::before {
            margin-right: .5rem;
            content: counter(puces, decimal-leading-zero) '.';
        }
    }
}
figure {
    margin: 0;
    img {
        display: table;
        width: 100%;
        height: auto;
    }
}
section {
    padding: 5rem 0;
}
::after,
::before {
    content: '';
}
::selection {
    background-color: $secondary-color;
    color: $base-color;
}
