%margin-element {
    margin: 1rem 0 0 0;
    &:first-child {
        margin-top: 0;
    }
}
%margin-title {
    margin-top: $gutter * 2;
    margin-bottom: $gutter;
    &:first-child {
        margin-top: 0;
    }
}
%margin-subtitle {
    margin-top: $gutter;
    margin-bottom: 1rem;
    &:first-child {
        margin-top: 0;
    }
}
%clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}