/* TAG BLOCKQUOTE */
blockquote {
    @extend %content-space--xl;
    border-left: 5px solid $third-color;
    padding: $gutter;
    display: block;
    &.small {
        padding: $gutter-sm;
    }
    &.large {
        padding: $gutter-xl;
    }
    cite {
        font-size: .8em;
        color: $third-color;
        padding: 0;
        &::before {
            display: none;
        }
    }
}