@if ($pagination-component) {
    /* PAGINATION CLASS */
    .pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $grey;
        @extend %content-space--xl;
        .previous, .next {
            padding: $gutter;
            text-transform: uppercase;
            font-size: .8em;
            color: $primary-color;
            display: flex;
            align-items: center;
            i {
                color: $secondary-color;
            }

        }
        .previous i {
            margin-right: $space-content;
        }
        .next i {
            margin-left: $space-content;
        }
        span {
            padding: .5rem;
            color: $grey;
            cursor: pointer;
            &:not(.selected):hover {
                color: $primary-color;
            }
        }
        .selected {
            font-family: $base-ff--bold;
            color: $secondary-color;
        }
        .disabled {
            cursor: not-allowed;
            opacity: .3;
        }
    }
}