@if ($tabs-component) {
	.tabs {
		@extend %content-space--xl;
		.items {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.item {
				display: inline-block;
				margin-right: $space-content;
				cursor: pointer;
				padding: .5rem $space-content--xl;
				border-radius: 5rem;
				margin-bottom: $space-content;
				border: 1px solid $grey;
				background-color: $white;
				text-align: center;
				text-transform: uppercase;
				font-size: 1rem;
				&:hover {
					border-color: $secondary-color;
				}
				&.selected {
					border: 1px solid $secondary-color;
				    @include bgc($secondary-color);
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.content {
			padding: $gutter;
			border: 1px solid $grey;
			background-color: $white;
		}
	}
}